Repository GDcheeriosYT/The-Backrooms, pull requests merged in 2022-03, with the labels that each got.

#55 Remove Leave.disable() calls
  main.py
Labels: bug

#62 Make console clear everything but the last 2 logged lines in output_log()
  console.py
Labels: console

#67 add get type method to almond water item class
  items.py
Labels: items

#70 Make spawning relative to player coordinates
  console.py
  items.py
  main.py
Labels: items, console, Player
